{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.instagram.com/sahil._.xo/"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://twitter.com/SSahil2209"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/shrivastav-sahil/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved.</p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->